body {
    background-color: darkgrey;
    background-image: url("Beach2.jpg")
}
h2 {
    color: darkslateblue;
    font-size: 18pt;
}
a {
    font: 16pt sans-serif;
}
img {
    border: 4px white;
}
h1 {
    font-size: 3em
}
p {
    font-size: 14pt;
    font: bold
    
}