body {
    background-color: darkgrey
}
h2 {
    color: darkslateblue;
    font-size: 18pt;
}
a {
    font: 16pt sans-serif;
}
img {
    border: 4px white;
}
h1 {
    font-size: 6em
}
p {
    font-size: 2em;
    font: bold
    
}